body{ 
    color: black;
    background: rgb(233, 110, 202);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(241, 233, 234);
    padding: 20px;
    font-size: 32px;
    color: rgb(187, 0, 204);
}

section{
    background: white;
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
}