body{ 
    color:rgb(46, 95, 255);
    background: rgb(0, 29, 196);
    margin: 0px;
    font-family: "DM Serif Text", sans-serif;
    margin-bottom: 100px
}

header{
    border-bottom: solid 2px rgb(241, 233, 234);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section{
    background: white;
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;

}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px
}
.categoria{
    padding-left: 20px;
    padding-rigth: 20px;
    margin-top: 
}
.categoria-videos img{
    opacity: 0,5;
    height: 200px;
}
.categoria-videos img:hover{
opacity: 1.0;
border: 1px solid blueviolet;

}
.categoria h2{
    color:aqua
}